@font-face {
	font-family: iconfont; /* Project id 4140267 */
	src: url('iconfont.ttf?t=1687846581325') format('truetype');
}

.iconfont {
	font-size: 16px;
	font-family: iconfont !important;
	color: #685b5b;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-24gl-fileEmpty::before {
	content: '\eabf';
}

.icon-wenjianzhankai::before {
	content: '\e85f';
}

.icon-jian::before {
	content: '\e66e';
}
