/* 重置全局样式 */

/* 【重要】！！！私人请勿私自改动，请上报组长或与团队其他小伙伴讨论后在操刀，包括下载依赖 */

/* 注意：项目中样式不要 % 和 vw、vh 混用， */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html,
body,
#app {
  /* 这样在需要使用页面的最外层元素，就可以使用 % 继承了，如果这里不写 100%, 在使用的页面直接写 % ，不会生效 
  ------------------------------------------------------------------------------------------------  */
  width: 100%;
  height: 100%;

  /* 是一个CSS属性，表示元素的盒模型应该包括边框和内边距，并且宽度不会被边框和内边距增加。
  ------------------------------------------------------------------------------------------------ */
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cursor 鼠标形状
------------------------------- */
/* 默认 */
.cursor-default {
  cursor: default !important;
}

/* 帮助 */
.cursor-help {
  cursor: help !important;
}

/* 手指 */
.cursor-pointer {
  cursor: pointer !important;
}

/*  移动 */
.cursor-move {
  cursor: move !important;
}

/* 宽高 100%
------------------------------- */
.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}

.vh100 {
  height: 100vh !important;
}

.max100vh {
  max-height: 100vh !important;
}

.min100vh {
  min-height: 100vh !important;
}

/* 字体大小全局样式
------------------------------- */
@for $i from 10 through 32 {
  .font#{$i} {
    font-size: #{$i}px !important;
  }
}

/* 外边距、内边距全局样式
------------------------------- */
@for $i from 1 through 35 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }

  .mr#{$i} {
    margin-right: #{$i}px !important;
  }

  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .ml#{$i} {
    margin-left: #{$i}px !important;
  }

  .pt#{$i} {
    padding-top: #{$i}px !important;
  }

  .pr#{$i} {
    padding-right: #{$i}px !important;
  }

  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
}

/* 全部dialog进入动画
------------------------------- */
.dialog-fade-enter-active {
  display: inline-block;
  animation: zoomIn;
  animation-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -12.5rem, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -12.5rem, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 0.75rem, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 0.75rem, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

/* 全部dialog离开动画
------------------------------- */
.dialog-fade-leave-active {
  display: inline-block;
  animation: zoomOut;
  animation-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  60% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
